@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
    --primary-colour: #f26363;
    --secondary-colour: #fff;
    --accent-colour: #E32929;
    --warning-colour: rgb(85, 139, 238);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--secondary-colour);
    position: relative;
}

label{
    display: inline-block;
}

input[type="file"]{
    display: none;
}

input[type="submit"]{
    display: none;
}

a{
    color: #242424;
    text-decoration: none;
}

a:hover{
    color: var(--primary-colour);
}

a.link-alt{
    color: var(--secondary-colour);
}

a.link-alt:hover{
    text-decoration: underline;
}

#terms{
    display: flex;
    justify-content: center;
}

.demo-notice{
    background-color: var(--warning-colour);
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

.cards{
    margin: 1rem 0;
}

.card{
    text-align: center;
    background-color: #f4f0f0;
    padding: 1.5rem;
    color: var(--primary-colour);
    line-height: 250%;
    margin: 1rem;
    border-radius: 20px;
    width: 44%;
}

.card .title{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 120%;
    margin: 1rem;
}

.card .text{
    line-height: 150%;
    color: #242424;
}

.card:nth-child(3n){
    width: 100%;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-colour);
}

.background{
    background-color: var(--primary-colour);
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -9999;
}

.container{
    width: 600px;
    margin: 0 auto;
}

.flex-alternate{
    display: flex;
    flex-wrap: wrap;
}

.grid-70-30{
    display: grid;
    grid-template-columns: 70% 30%;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.center-self{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    padding: 2.5rem;
    text-align: center;
    font-size: 2.4rem;
}

.section-title{
    color: #242424;
    text-align: center;
    font-size: 1.5rem;
}

.steps{
    list-style: none;
    list-style-position: inside;
}

.steps li {
    position: absolute;
}

.steps .step{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.steps .step .number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: var(--primary-colour);
    border-radius: 50%;
    height: 30px;
    flex-basis: 30px;
    flex-shrink: 0;
}

.steps .step .task{
    padding: 0 1rem;
}

.btn{
    text-align: center;
    text-transform: capitalize;
    border: 2px solid var(--primary-colour);
    padding: 1.2rem 0;
    width: 150px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1rem 0;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.browse{
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

.submit{
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.notification{
    display: none;
    position: absolute;
    width: 50%;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    padding: 1rem;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    line-height: 150%;
}

header{
    background-color: var(--primary-colour);
}

main{
    position: relative;
}

form{
    background-color: var(--secondary-colour);
    border: 3px dashed var(--accent-colour);
    height: 350px;
    margin: 3rem auto;
    margin-bottom: 2rem;
    position: relative;
}

footer{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-colour);
    margin-top: 2rem;
    background-color: var(--primary-colour);
}

.sign-off{
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 0;
    border-top: 3px solid var(--primary-colour);
    height: 1rem;
}

.sign-off .brand{
    font-size: 2rem;
    font-weight: bold;
    border-right: 2px solid var(--secondary-colour);
    padding-right: 1rem;
}

.sign-off .slogan{
    font-size: 1rem;
    padding: 1rem;
}

.footer-nav{
    display: flex;
    padding-left: 1rem;
    list-style: none;
}

.footer-nav li{
    margin: 1rem;
}

.copyright{
    padding: 1rem;
    padding-top: 0;
    padding-left: 2rem;
}

@media screen and (max-width: 600px){
    .flex-alternate{
        display: block;
    }

    .card{
        margin: 2rem auto;
        width: auto;
    }

    .container{
        width: 400px;
    }
}

@media screen and (max-width: 450px){
    .container{
        width: 300px;
    }
}